set deviceconfig system hostname address-object-group-inheritance
set network interface ethernet ethernet1/1 layer3 ip 192.0.2.1/24
set network interface ethernet ethernet1/2 layer3 ip 192.0.2.2/24
set zone z1 network layer3 ethernet1/1
set zone z2 network layer3 ethernet1/2

set rulebase security rules RULE1 from any
set rulebase security rules RULE1 to any
set rulebase security rules RULE1 source 192.0.2.3
set rulebase security rules RULE1 destination 192.0.2.4
set rulebase security rules RULE1 service any
set rulebase security rules RULE1 application any
set rulebase security rules RULE1 action allow

set rulebase security rules RULE2 from any
set rulebase security rules RULE2 to any
set rulebase security rules RULE2 source 192.0.2.5
set rulebase security rules RULE2 destination 192.0.2.6
set rulebase security rules RULE2 service any
set rulebase security rules RULE2 application any
set rulebase security rules RULE2 action allow

# Note: object definition comes after rules (reference) in config dump

# an address object named 192.0.2.3 with value 192.0.2.7
set address 192.0.2.3 ip-netmask 192.0.2.7

# an address group named 192.0.2.6 containing object above
set address-group 192.0.2.6 static 192.0.2.3

