set deviceconfig system hostname template-stack-overwrite
# 10.1.x.x is from template 1, 10.2.x.x is from template 2
# For the most part:
#  <object>1 and 3 are defined in template 1, <object>2 and 3 are defined in template 2

set template T1 config deviceconfig system hostname hostname_one
set template T1 config deviceconfig system ip-address 192.0.2.1
set template T1 config vsys vsys1 zone Z1 network layer3 ethernet1/1
set template T1 config vsys vsys1 zone Z3 network layer3 ethernet1/3
set template T1 config vsys vsys1 import network interface [ ethernet1/1 ethernet1/3 ]
set template T1 config vsys vsys1 log-settings syslog SG1 server S1 server 192.0.2.2
set template T1 config vsys vsys1 log-settings syslog SG1 server S3 server 192.0.2.3
set template T1 config shared log-settings syslog SG_SHARED server S1 server 192.0.2.4
set template T1 config shared log-settings syslog SG_SHARED server S3 server 192.0.2.5
set template T1 config network interface ethernet ethernet1/1 layer3 ip 192.0.2.6/30
set template T1 config network interface ethernet ethernet1/3 layer3 ip 192.0.2.7/30
set template T1 config network virtual-router default interface [ ethernet1/1 ethernet1/3 ]
set template T1 config deviceconfig system dns-setting servers primary 192.0.2.8
set template T1 config deviceconfig system ntp-servers primary-ntp-server ntp-server-address 192.0.2.9

set template T2 config deviceconfig system hostname hostname_two
set template T1 config deviceconfig system ip-address 192.0.2.10
set template T2 config vsys vsys1 zone Z2 network layer3 ethernet1/2
set template T2 config vsys vsys1 zone Z3 network layer3 ethernet1/3
set template T2 config vsys vsys1 import network interface [ ethernet1/2 ethernet1/3 ]
set template T2 config vsys vsys1 log-settings syslog SG1 server S2 server 192.0.2.11
set template T2 config vsys vsys1 log-settings syslog SG1 server S3 server 192.0.2.12
set template T2 config shared log-settings syslog SG_SHARED server S2 server 192.0.2.13
set template T2 config shared log-settings syslog SG_SHARED server S3 server 192.0.2.14
set template T2 config network interface ethernet ethernet1/2 layer3 ip 192.0.2.15/30
set template T2 config network interface ethernet ethernet1/3 layer3 ip 192.0.2.16/30
set template T2 config network virtual-router default2 interface [ ethernet1/2 ]
set template T2 config deviceconfig system dns-setting servers primary 192.0.2.17
set template T2 config deviceconfig system dns-setting servers secondary 192.0.2.18
set template T2 config deviceconfig system ntp-servers primary-ntp-server ntp-server-address 192.0.2.19
set template T2 config deviceconfig system ntp-servers secondary-ntp-server ntp-server-address 192.0.2.20

set template-stack TS1 templates [ T1 T2 ]
set template-stack TS1 devices 00000001
