#RANCID-CONTENT-TYPE: paloalto
set deviceconfig system hostname bgp-redist-profile

set network virtual-router vr1 protocol redist-profile rdp1 filter type [ bgp connect static ospf rip ]
set network virtual-router vr1 protocol redist-profile rdp1 filter destination [ 192.0.2.1/24 192.0.2.2/24 ]
set network virtual-router vr1 protocol redist-profile rdp1 priority 2
set network virtual-router vr1 protocol redist-profile rdp1 action no-redist

# redist-rule's name matches redist-profile's name
set network virtual-router vr1 protocol bgp redist-rules rdp1 enable yes
set network virtual-router vr1 protocol bgp redist-rules rdp1 set-origin incomplete

set network virtual-router vr1 protocol bgp redist-rules 192.0.2.1/24 enable yes
set network virtual-router vr1 protocol bgp redist-rules 192.0.2.1/24 set-origin egp
set network virtual-router vr1 protocol bgp redist-rules 192.0.2.1/24 address-family-identifier ipv4
set network virtual-router vr1 protocol bgp redist-rules 192.0.2.1/24 route-table unicast


set network virtual-router vr1 protocol bgp redist-rules 192.0.2.3 enable no
set network virtual-router vr1 protocol bgp redist-rules 192.0.2.3 set-origin igp
set network virtual-router vr1 protocol bgp redist-rules 192.0.2.3 address-family-identifier ipv6
set network virtual-router vr1 protocol bgp redist-rules 192.0.2.3 route-table multicast
