set deviceconfig system hostname address-group-hybrid

# address accessible by any vsys
set shared address shared_addr ip-netmask 192.0.2.1

# vsys-specific address
set address addr ip-netmask 192.0.2.2

set address-group group static [ addr shared_addr]
