config system global
    set hostname "addrgrp"
end
config firewall address
    edit "addr1"
        set type iprange
        set start-ip 192.0.2.1
        set end-ip 192.0.2.2
    next
    edit "addr2"
        set type iprange
        set start-ip 192.0.2.3
        set end-ip 192.0.2.4
    next
    edit "addr3"
        set type iprange
        set start-ip 192.0.2.5
        set end-ip 192.0.2.6
    next
    edit "addr4"
        set type iprange
        set start-ip 192.0.2.7
        set end-ip 192.0.2.8
    next
    edit "addr5"
        set type iprange
        set start-ip 192.0.2.9
        set end-ip 192.0.2.10
    next
end
config firewall addrgrp
    edit "this is longest possible firewall addrgrp group name that is accepted by device"
        set member addr3
    next
    edit "grp1"
        set member addr1 addr5
        set exclude enable
        set exclude-member addr2 addr3
        set exclude-member addr4
        append exclude-member addr5
        # Exclude-members should persist after cycling exclude enable
        set exclude disable
        set exclude enable
        set type folder
    next
    edit "grp2"
        set member addr2 addr3
        set member addr4
        append member grp1
        set exclude disable
        set type default
        set comment "some addrgrp comment"
    next
end
