#
set system host-name bgp-description
#
set routing-options autonomous-system 1
set protocols bgp group G description G
set protocols bgp group G neighbor 192.0.2.1 description N
# neighbor 192.0.2.2 does NOT inherit the description from G
set protocols bgp group G neighbor 192.0.2.2
