set system host-name juniper-sourcenat-pool
#
set security nat source pool POOL1 address 192.0.2.1/24 to 192.0.2.2/32
set security nat source pool POOL2 address 192.0.2.1 to 192.0.2.2
#
set security nat source pool POOL3 address 192.0.2.3/32
#
set security nat source pool POOL4 address 192.0.2.3/31
#
set security nat source pool POOL5 address 192.0.2.3/30
