#
set system host-name tunnel-attributes
#
# Endpoint and type
set policy-options tunnel-attribute tunnel-attr-1 remote-end-point 192.0.2.1
set policy-options tunnel-attribute tunnel-attr-1 tunnel-type ipip
# Endpoint, no type
set policy-options tunnel-attribute tunnel-attr-2 remote-end-point 192.0.2.2
# Type, no endpoint
set policy-options tunnel-attribute tunnel-attr-3 tunnel-type ipip
