#
#
set system host-name nat-source
#
set security nat source pool POOL1 address 192.0.2.1/24
set security nat source pool POOL2 address 192.0.2.1 to 192.0.2.2
#
set security nat source rule-set RULE-SET from interface ge-0/0/0.0
set security nat source rule-set RULE-SET from routing-instance FROM-ROUTING-INSTANCE
set security nat source rule-set RULE-SET from zone FROM-ZONE
#
set security nat source rule-set RULE-SET to interface ge-0/0/1.0
set security nat source rule-set RULE-SET to routing-instance TO-ROUTING-INSTANCE
set security nat source rule-set RULE-SET to zone TO-ZONE
#
set security nat source rule-set RULE-SET rule RULE1 match destination-address 192.0.2.3/24
set security nat source rule-set RULE-SET rule RULE1 match destination-address-name NAME
set security nat source rule-set RULE-SET rule RULE1 then source-nat off
#
set security nat source rule-set RULE-SET rule RULE2 match source-address 192.0.2.4/24
set security nat source rule-set RULE-SET rule RULE2 match source-address-name SA-NAME
set security nat source rule-set RULE-SET rule RULE2 then source-nat pool POOL
#
set security nat source rule-set RULE-SET rule RULE3 match source-address 192.0.2.5/24
set security nat source rule-set RULE-SET rule RULE3 then source-nat interface

