#
set system host-name tacplus-psk
#
set system tacplus-server 192.0.2.1 secret "REDACTED"
set system tacplus-server 192.0.2.2 secret "REDACTED"
#
set system tacplus-server 192.0.2.2 source-address 192.0.2.3
set system tacplus-server 192.0.2.2 routing-instance RI
set system tacplus-server 192.0.2.2 port 4949
set system tacplus-server 192.0.2.2 timeout 5
set system tacplus-server 192.0.2.2 single-connection
#
set system tacplus-server 192.0.2.4 timeout 200
#
set system tacplus-server 192.0.2.5 secret "REDACTED"
#
