#
system {
    host-name nested-config-structure-def;
}
firewall {
    filter FILTER1 {
        term TERM {
            from {
                source-address 192.0.2.1;
            }
            then {
                accept;
            }
        }
    }
    filter FILTER2 {
        term TERM {
            then {
                accept;
            }
        }
    }
}
