#
set system host-name firewall-address
#
set firewall family inet filter FILTER term TERM from address 192.0.2.1/8
set firewall family inet filter FILTER term TERM from address 192.0.2.2/8
set firewall family inet filter FILTER term TERM then accept
