#
set system host-name juniper-nat-pat
#
# source nat
set security nat source pool POOL0 address 192.0.2.1/24
set security nat source pool POOL1 address 192.0.2.2/24
set security nat source pool POOL1 port range 2000 to 3000
set security nat source pool POOL2 address 192.0.2.3/24
set security nat source pool POOL2 port no-translation
set security nat source pool-default-port-range 4000 to 5000
set security nat source pool POOL3 address 192.0.2.4/24
set security nat source pool POOL3 port no-translation
set security nat source pool POOL3 port range 1000 to 2000
set security nat source pool POOL3 port range 10000 to 20000
#
# destination nat
set security nat destination pool POOL4 address 192.0.2.5 port 6000
set security nat destination pool POOL5 address 192.0.2.6/24
set security nat destination pool POOL6 address 192.0.2.5/32 port 6666
