#
set system host-name forwarding-table-export

set interfaces ge-0/0/0 unit 0 family inet address 192.0.2.1/24
set interfaces ge-0/0/1 unit 0 family inet address 192.0.2.2/24
set interfaces lo0 unit 0 family inet address 192.0.2.3/32

set routing-options static route 192.0.2.4/24 next-hop 192.0.2.5
set routing-options static route 192.0.2.6/24 next-hop 192.0.2.7

set policy-options policy-statement FIB_FILTER term allow from route-filter 192.0.2.4/24 exact
set policy-options policy-statement FIB_FILTER term allow then load-balance per-packet
set policy-options policy-statement FIB_FILTER term allow then accept
set policy-options policy-statement FIB_FILTER term deny then reject

set routing-options forwarding-table export FIB_FILTER
