#
#
set system host-name nat-dest
#

set security nat destination pool POOL1 address 192.0.2.1/24
set security nat destination pool POOL2 address 192.0.2.2/24 port 22
set security nat destination pool POOL3 address 192.0.2.3
set security nat destination pool POOL4 address 192.0.2.4 port 44
set security nat destination pool POOL5 address 192.0.2.5 to 192.0.2.6
#
set security nat destination rule-set RULE-SET-RI from routing-instance RI
set security nat destination rule-set RULE-SET-RI rule RULE1 match source-port 5
set security nat destination rule-set RULE-SET-RI rule RULE1 then destination-nat off
#
set security nat destination rule-set RULE-SET-ZONE from zone ZONE
set security nat destination rule-set RULE-SET-ZONE rule RULE1 match source-port 80
set security nat destination rule-set RULE-SET-ZONE rule RULE1 match destination-port 100 to 200
set security nat destination rule-set RULE-SET-ZONE rule RULE1 match destination-address-name NAME
set security nat destination rule-set RULE-SET-ZONE rule RULE1 match source-address-name SA-NAME
set security nat destination rule-set RULE-SET-ZONE rule RULE1 then destination-nat off
#
set security nat destination rule-set RULE-SET-ZONE rule RULE2 match source-address 192.0.2.7/24
set security nat destination rule-set RULE-SET-ZONE rule RULE2 match destination-address-name DA-NAME
set security nat destination rule-set RULE-SET-ZONE rule RULE2 then destination-nat pool POOL5
#
set security nat destination rule-set RULE-SET-ZONE rule RULE3 match source-address 192.0.2.8/24
set security nat destination rule-set RULE-SET-ZONE rule RULE3 match destination-address 192.0.2.9/32
set security nat destination rule-set RULE-SET-ZONE rule RULE3 then destination-nat pool POOL1
#
set security nat destination rule-set RULE-SET-IFACE from interface ge-0/0/0.0
set security nat destination rule-set RULE-SET-IFACE rule RULE1 match source-port 6
set security nat destination rule-set RULE-SET-IFACE rule RULE1 match protocol udp
set security nat destination rule-set RULE-SET-IFACE rule RULE1 then destination-nat off
#
set interfaces ge-0/0/0 unit 0 family inet address 192.0.2.10/24
#
set security zones security-zone ZONE interfaces ge-0/0/0.0
#
set routing-instances RI instance-type virtual-router
set routing-instances RI interface ge-0/0/0.0
