#
set system host-name route-filter
#
set policy-options policy-statement route-filter-test term t1 from route-filter 192.0.2.1/16 exact
set policy-options policy-statement route-filter-test term t1 from route-filter 192.0.2.1/16 longer
set policy-options policy-statement route-filter-test term t1 from route-filter 192.0.2.2/16 through 192.0.2.2/17
set policy-options policy-statement route-filter-test term t1 from route-filter 192.0.2.3/16 address-mask 192.0.2.4