#
set system host-name bgp-validation
#
set routing-options validation notification-rib inet.0
set routing-options validation notification-rib inet6.0
set routing-options validation group RPKI-GRP max-sessions 2
set routing-options validation group RPKI-GRP session 192.0.2.1 refresh-time 180
set routing-options validation group RPKI-GRP session 192.0.2.1 hold-time 360
set routing-options validation group RPKI-GRP session 192.0.2.1 record-lifetime 3600
set routing-options validation group RPKI-GRP session 192.0.2.1 port 567
set routing-options validation group RPKI-GRP session 192.0.2.1 local-address 192.0.2.2
