#
set system host-name ntp
#
#
set system ntp authentication-key 1 type md5
set system ntp authentication-key 1 value "$9$secret1"
set system ntp authentication-key 2 type sha1
set system ntp authentication-key 2 value secret2
set system ntp authentication-key 3 type sha256
set system ntp authentication-key 3 value secret3
set system ntp authentication-key 4 type md5
set system ntp authentication-key 4 value secret4
#
#
set system ntp trusted-key 1
set system ntp trusted-key 2
set system ntp trusted-key 3
set system ntp trusted-key 5
set system ntp trusted-key 6
set system ntp trusted-key 7
#
#
set system ntp server 192.0.2.1 key 1
set system ntp server 192.0.2.1 routing-instance MGMT
set system ntp server 192.0.2.2 prefer
set system ntp server 192.0.2.2 version 4
set system ntp server 192.0.2.2 nts
set system ntp server 192.0.2.3 key 4
set system ntp server 192.0.2.4 key 5
set system ntp server 2001:db8::10
#
#
set system ntp peer 192.0.2.5 key 2
set system ntp peer 192.0.2.5 version 4
set system ntp peer 192.0.2.5 prefer
set system ntp peer 192.0.2.6
set system ntp peer 2001:db8::11
set system ntp broadcast 192.0.2.7 key 3
set system ntp broadcast 192.0.2.7 routing-instance-name MGMT
set system ntp broadcast 192.0.2.7 ttl 5
set system ntp broadcast 192.0.2.7 version 4
set system ntp broadcast 2001:db8::ff
#
#
set system ntp boot-server 192.0.2.8
set system ntp broadcast-client
set system ntp multicast-client 192.0.2.9
set system ntp interval-range 3
set system ntp restrict 192.0.2.10 mask 255.0.0.0
set system ntp restrict 192.0.2.10 noquery
set system ntp threshold 300 action reject
#
set system ntp source-address 192.0.2.11 routing-instance MGMT
set system ntp source-address 192.0.2.12
#
set routing-instances MGMT
