# baseline-fortios
config system global
    set admin-ssh-v1 disable  # CTRL-001
    set admintelnet disable  # CTRL-002
    set admintimeout 10  # CTRL-005
    set admin-lockout-threshold 3  # CTRL-008
    set pre-login-banner enable  # CTRL-018
    set ssh-hmac-md5 disable  # CTRL-019
    set ftp-service disable  # CTRL-020
end

config system password-policy
    set minimum-length 8  # CTRL-007
end

config system interface
    edit "mgmt"
        set allowaccess https ssh  # CTRL-003 + CTRL-004 (shared allowaccess list)
        set trusthost1 10.0.0.0 255.255.255.0  # CTRL-015 + CTRL-017 (shared trusthost mechanism)
    next
    edit "port24"
        set status down  # CTRL-014
    next
end

config log memory setting
    set status enable  # CTRL-009
end

config log syslogd setting
    set server 10.0.0.5  # CTRL-010
end

config system ntp
    config ntpserver
        edit 1
            set server 10.0.0.10  # CTRL-011
            set authentication enable  # CTRL-012
        next
    end
end

config system snmp sysinfo
    set status enable
end

config system snmp user
    edit "snmpv3admin"
        set security-level auth-priv  # CTRL-013
    next
end

config router ospf
    config ospf-interface
        edit "auth"
            set authentication message-digest  # CTRL-016
        next
    end
end

config user tacacs+
    edit "tacacs-server"
        set server 10.0.0.20
    next
end  # CTRL-006
